<!-- nav bar -->
<nav class='navbar navbar-expand-sm bg-dark navbar-dark fixed-top'>

  <!-- name of website -->
  <a class='navbar-brand float-left mx-2' routerLink='/'>
    #LamFam
  </a>

  <!-- navbar toggler button -->
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavBar'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <!-- navigation links -->
  <div class='collapse navbar-collapse' id='collapsibleNavBar'>
    <div class='navbar-nav'>

    <!-- link to homepage -->
    <div class='nav-item'>
      <a [ngClass]='{ "nav-link": true, "active": page === "home" }' routerLink='/'>Home</a>
    </div>

    <!-- link to cookbook -->
    <div class='nav-item'>
      <a [ngClass]='{ "nav-link": true, "active": page === "cookbook" }' routerLink='/cookbook'>Cookbook</a>
    </div>

    <!-- links to people -->
    <div class='nav-item dropdown'>
      <a [ngClass]='{ "nav-link dropdown-toggle": true, "active": page === "person" }' data-toggle='dropdown'>
        People
      </a>
      <div class='dropdown-menu'>
        <a class='dropdown-item' routerLink='/who/parents'>Wang and Cynthia Lam</a>
        <a class='dropdown-item' routerLink='/who/jessica'>Jessica Lam</a>
        <a class='dropdown-item' routerLink='/who/jonathan'>Jonathan Lam</a>
        <a class='dropdown-item' routerLink='/who/juliet'>Juliet Lam</a>
        <a class='dropdown-item' routerLink='/who/cats'>Sharon and Jane</a>
      </div>
    </div>

  </div>
  </div>
</nav>
