<!-- nav bar -->
<nav class='navbar navbar-expand bg-dark navbar-dark fixed-top'>

  <!-- name of website -->
  <span class='navbar-text float-left mx-2'>
    #LamFam
  </span>

  <!-- navigation links -->
  <div class='navbar-nav'>

    <!-- link to homepage -->
    <div class='navbar-item'>
      <a [ngClass]='{ "nav-link": true, "active": page === "home" }' routerLink='/'>Home</a>
    </div>

    <!-- link to cookbook -->
    <div class='navbar-item'>
      <a [ngClass]='{ "nav-link": true, "active": page === "cookbook" }' routerLink='/cookbook'>Cookbook</a>
    </div>

  </div>
</nav>
