<div class='container'>
  <!-- to create a recipe -->
  <div class='pt-5' *ngIf='isCreateMode'>

    <h4>Create a recipe</h4>
    <!-- link back to recipe list -->
    <a routerLink='/cookbook'>Discard and return to recipe list?</a>

    <form class='mt-3'>

      <!-- recipe name -->
      <div class='form-group'>
        <label for='createName'>Recipe name</label>
        <input
          [ngClass]='{ "form-control": true, "is-invalid": errors.name !== undefined }'
          type='text'
          maxlength='64'
          placeholder='Rainbow Truffles'
          id='createName'
          name='createName'
          [(ngModel)]='createName'>
        <small class='form-text invalid-feedback'>{{ errors.name }}</small>
      </div>

      <!-- recipe description -->
      <div class='form-group'>
        <label for='createDescription'>Recipe description</label>
        <textarea
          [ngClass]='{ "form-control": true, "is-invalid": errors.description !== undefined }'
          type='text'
          maxlength='512'
          rows='5'
          placeholder='The most scrumptious, colorful chocolates ever! They have a hint of magical fairy dust from Neverland for splendor.'
          id='createDescription'
          name='createDescription'
          [(ngModel)]='createDescription'></textarea>
        <small class='form-text invalid-feedback'>{{ errors.description }}</small>
      </div>

      <!-- link to recipe -->
      <div class='form-group'>
        <label for='createRefUrl'>Link to recipe <small class='form-text text-secondary d-inline'>(optional)</small></label>
        <input
          [ngClass]='{ "form-control": true, "is-invalid": errors.refUrl !== undefined }'
          type='url'
          maxlength='512'
          placeholder='https://www.rainbow-truffles.com/secret-recipe.html'
          id='createRefUrl'
          name='createRefurl'
          [(ngModel)]='createRefUrl'>
        <small class='form-text invalid-feedback'>{{ errors.refUrl }}</small>
      </div>

      <!-- ingredients -->
      <div class='form-group'>

        <!-- show list of current ingredients -->
        <label>Ingredients</label>
        <small class='form-text text-danger mt-0 mb-2'>{{ errors.ingredients }}</small>
        <div class='form-row mb-3' *ngFor='let ingredient of createIngredients; let i = index'>
          <div class='col-6 col-md-1'>
            <input
              class='form-control mb-3'
              type='number'
              maxlength='5'
              placeholder='5'
              min='0'
              name='ingredient.amount{{i}}'
              [(ngModel)]='ingredient.amount'>
          </div>
          <div class='col-6 col-md-2'>
            <select
              class='form-control mb-3 custom-select'
              type='string'
              maxlength='5'
              name='createIngredientUnit{{i}}'
              [(ngModel)]='ingredient.unit'>
              <option *ngFor='let option of options; let j = index' [value]='option.value' [selected]='j === 0'>{{ option.text }}</option>
            </select>
          </div>
          <div class='col-10 col-md-8'>
            <input
              class='form-control'
              type='text'
              maxlength='64'
              placeholder='jumbo egg'
              name='createIngredientName{{i}}'
              [(ngModel)]='ingredient.name'>
          </div>
          <div class='col-2 col-md-1'>
            <button class='btn btn-danger rounded w-100' (click)='removeIngredient(i)'>&times;</button>
          </div>
        </div>

        <!-- create new ingredient -->
        <div class='form-row mb-3'>
          <div class='col-6 col-md-1'>
            <input
              class='form-control mb-3'
              type='number'
              maxlength='5'
              placeholder='5'
              min='0'
              name='createNewIngredient.amount'
              [(ngModel)]='createNewIngredient.amount'>
          </div>
          <div class='col-6 col-md-2'>
            <select
              class='form-control mb-3 custom-select'
              type='string'
              maxlength='5'
              placeholder='count'
              name='createNewIngredient.unit'
              [(ngModel)]='createNewIngredient.unit'>
              <option *ngFor='let option of options' [value]='option.value'>{{ option.text }}</option>
            </select>
          </div>
          <div class='col-10 col-md-8'>
            <input
              class='form-control'
              type='text'
              maxlength='64'
              placeholder='jumbo egg'
              name='createNewIngredient.name'
              [(ngModel)]='createNewIngredient.name'>
          </div>
          <div class='col-2 col-md-1'>
            <button class='btn btn-success rounded w-100' (click)='addIngredient()'>+</button>
          </div>
        </div>
      </div>

      <!-- recipe instructions -->
      <div class='form-group'>
        <label>Instructions</label>
        <small class='form-text text-danger mb-2 mt-0'>{{ errors.instructions }}</small>

        <!-- list of existing ingredients -->
        <div class='form-row mb-3' *ngFor='let instruction of createInstructions; let i = index'>
          <div class='col-10 col-md-11'>
            <input
              class='form-control'
              type='text'
              maxlength='512'
              placeholder='Preheat oven to 512 degrees Fahrenheit.'
              name='instruction{{i}}'
              [(ngModel)]='createInstructions[i].value'>
          </div>
          <div class='col-2 col-md-1'>
            <button class='btn btn-danger rounded w-100' (click)='removeInstruction(i)'>&times;</button>
          </div>
        </div>

        <!-- create a new ingredient (same format) -->
        <div class='form-row mb-3'>
          <div class='col-10 col-md-11'>
            <input
              class='form-control'
              type='text'
              maxlength='512'
              placeholder='Preheat oven to 512 degrees Fahrenheit.'
              name='createNewInstruction'
              [(ngModel)]='createNewInstruction'>
          </div>
          <div class='col-2 col-md-1'>
            <button class='btn btn-success rounded w-100' (click)='addInstruction()'>+</button>
          </div>
        </div>
      </div>

      <!-- submit or cancel -->
      <div class='form-group'>
        <input class='btn btn-primary' type='button' value='Create new recipe' (click)='createRecipe()'>
        <input class='btn btn-warning' type='button' routerLink='/cookbook' value='Discard'>
      </div>
    </form>
  </div>

  <!-- if recipe set in url -->
  <div *ngIf='!isCreateMode && recipePath !== undefined'>

    <!-- if recipe found -->
    <div class='mt-3' *ngIf='recipe !== null'>

      <div class='jumbotron jumbotron-fluid py-3' id='recipeJumbotron'>
        <div class='container'>
          <h4 class='p-2 d-inline-block bg-light' id='recipeTitle'>
            {{ recipe.name }}
            <a class='btn btn-sm rounded bg-secondary text-white ml-2' *ngIf='recipe.refUrl !== ""' href='{{ recipe.refUrl }}' target='_blank'>+</a>
          </h4>
        </div>
      </div>
      <p class='text-secondary'>{{ recipe.description }}</p>
      <hr>
      <h6>Ingredients</h6>
      <!-- working on this {{ recipe.images }} -->
      <table class='table'>
        <tbody>
          <tr *ngFor='let ingredient of recipe.ingredients'>
            <th>{{ ingredient.amount }} {{ ingredient.unit }}</th>
            <td>{{ ingredient.name }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h6>Instructions</h6>
      <ol>
        <li *ngFor='let instruction of recipe.instructions'>{{ instruction }}</li>
      </ol>
    </div>

    <!-- if recipe not found -->
    <div class='pt-5' *ngIf='recipe === null'>
      <h4>Recipe not found.</h4>
      <p>Oops, we must have ate it.</p>
    </div>

    <!-- link back to recipe list -->
    <div class='mt-3'>
      <a routerLink='/cookbook'>Return to recipe list?</a>
    </div>

  </div>

  <!-- if no recipe set in url -->
  <div class='pt-5' *ngIf='!isCreateMode && recipePath === undefined'>
  
    <h4>Cookbook</h4>
    <div class='row'>
      <div class='col-12 col-md-6 col-lg-4 mb-3' *ngFor='let recipe of recipes'>
        <div class='card recipeCard'>
          <div class='card-header'>{{ recipe.name }}</div>
          <div class='card-body'>
            <p>{{ recipe.description }}</p>
            <p><button class='btn btn-primary' routerLink='/cookbook/{{ recipe.path }}'>Make it!</button></p>
          </div>
        </div>
      </div>
    </div>
    <p><button class='btn btn-outline-primary' routerLink='/cookbook/create'>Create a recipe</button></p>
  </div>

</div>
