@import '../_mixins.scss';

#personCarousel {
  @include jumbotron-height();
}
.carousel-inner, .carousel-item {
  height: 100%;
}
.carousel-item {
  align-items: center;
  justify-content: center;

  &.active, &.carousel-item-left, &.carousel-item-right {
    display: flex;
  }

  .carousel-image {
    max-width: 100%;
    @include jumbotron-max-height();
  }
}
