.img-jumbotron {
  min-height: 40em;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* capturing small screens because background-attachment: fixed doesn't work right on iOS */
@media only screen and (max-device-width: 1024px) {
  .img-jumbotron {
    background-attachment: scroll;
  }
}

#main-jumbotron {
  background-image: url('/assets/family.jpg');
}
#footer-jumbotron {
  background-image: url('/assets/qinmin2018.jpg');
}

.row {
  justify-content: center;
}
