#mainJumbotron {
  min-height: 40em;
  background-image: url('/assets/family.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.row {
  justify-content: center;
}
#peopleCards .card {
  padding: 0;
  margin: 1em;
}
